.wrapper {
	background-color: transparent;
	color: black !important;
	font-weight: 500;
	padding: 1rem;
	border: 1px black solid !important;
	align-content: center;
	width: 65%;
}

.video {
	width: 100%;
	border: 0;
	border-radius: 5px;
}