.result {
	margin: 5rem 0;
	z-index: 3;
	padding: 5rem;
	background-color: transparent;
	border: 1px black solid;
	border-radius: 8px;
	background-color: rgba(63, 0, 99, 0.733);
	color: rgb(133, 247, 255);
}

.result button {
	border-color: lightgray;
}

@media screen and (width <= 768px) {
	.result {
		padding: 3rem;
		font-size: 1.5rem;
	}
}