.result {
	margin-top: 5rem;
	z-index: 3;
	padding: 5rem;
	margin-bottom: 5rem;
	background-color: transparent;
	border: 1px black solid;
	border-radius: 8px;
	background-color: rgba(63, 0, 99, 0.733);
	color: rgb(133, 247, 255);
}

.result button {
	border-color: lightgray;
}

@media (max-width: 510px) {
	.resultParent {
		display: flex;
		justify-content: center;
	}
	.result {
		padding: 3rem;
		font-size: calc(120% - (1vh + 1vw));
		width: calc(120% - (1vh + 1vw) * 2);
	}
}