.wrapper {
	padding: 2rem;
}


.cardsdisplay {
	display: flex;
	flex-wrap: wrap;
	padding: calc((1vh + 1vw) * 2);
	gap: calc((1vh + 1vw) * 5);
	justify-content: space-between;
	align-items: center;
}

.cardsdisplay > * {
  flex: 1 1 calc(25% - calc((1vh + 1vw) * 4) - 2px);
  max-width: calc(25% - calc((1vh + 1vw) * 4) - 2px);
}

@media screen and (width <= 1024px) {
	.cardsdisplay {
		padding: calc((1vh + 1vw));
		gap: calc((1vh + 1vw) * 2);
		justify-content: center;
		align-items: normal;
	}
	.cardsdisplay > * {
		flex: 1 1 calc(25% - calc((1vh + 1vw) * 2) - 2px);
		max-width: calc(25% - calc((1vh + 1vw) * 2) - 2px);
	}
}

@media screen and (width <= 900px) {
	.cardsdisplay {
		padding: 0;
	}
	.cardsdisplay > * {
		flex: 1 1 calc(40% - calc((1vh + 1vw) * 2) - 2px);
		max-width: calc(40% - calc((1vh + 1vw) * 2) - 2px);
	}
}

@media screen and (width <= 480px) {
	.cardsdisplay {
		flex-direction: column;
		align-items: center;
	}
	.cardsdisplay > * {
		flex: 1 1 calc(80% - calc((1vh + 1vw) * 2) - 2px);
		max-width: calc(80% - calc((1vh + 1vw) * 2) - 2px);
	}
}