.wrapper {
	padding: 2rem;
}


.cardsdisplay {
	display: flex;
	flex-wrap: wrap;
	padding: calc((1vh + 1vw) * 2);
	gap: calc((1vh + 1vw) * 5);
	justify-content: space-between;
	align-items: center;
}

.cardsdisplay > * {
  flex: 1 1 calc(25% - calc((1vh + 1vw) * 5));
  max-width: calc(25% - calc((1vh + 1vw) * 5));
}