.wrapper {
	position: relative;
	min-height: 100vh;
	width: 60%;
}

.time {
	position: fixed;
	right: 15%;
	font-weight: 700;
	font-size: 4rem;
}

.header {
	width: 100%;
	padding: 2rem;
	margin-bottom: 5rem;
	z-index: 1;
	border-radius: 15px;
	font-weight: 500;
	font-size: 13vw;
}


.wrapper main {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px black solid;
	border-radius: 15px;
	padding: calc((1vh + 1vw) * 2);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

@media (max-width: 400px) {
	.header {
		font-size: 12vw;
		text-align: start;
		padding: 0px;
		padding-top: 4vh;
	}
}