.card {
	background-color: transparent;
	transition: 0.2s;
	border: 1px black solid;
	border-radius: 8px;
	padding: 1rem; 
}

.card:hover {
	box-shadow: 0 0 10px 1px rgb(133, 247, 255);
	color: rgb(133, 247, 255);
	transform: translateY(-10px);
}

.image {
	border-radius: 8px;
}