.wrapper {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: transparent;
	z-index: 999;
	gap: calc((1vh + 1vw));
	padding: calc((1vh + 1vw) / 2) calc((1vh + 1vw));
}

.user {
	display: flex;
	align-items: center;
	gap: calc((1vh + 1vw));
	margin-left: auto;
}