.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	
  /* perspective: 1px;
  perspective-origin: 50% 50%; */
}

/* .parallaxWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
	height: 1000%;
  background-image: url('./assets/square-golden-frame-tropical-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  transform-origin: 50% 50%;
  transform: translateZ(-3px) scale(4.3);
  transform-style: preserve-3d;
	z-index: -1;
} */

.content {
  /* transform-origin: 50% 31.416%;
  transform: translateZ(3px) scale(0.2);
  background: rgba(176, 255, 255);
  background: linear-gradient(170deg, rgba(176, 255, 255, 0.666) 0%, rgba(202, 142, 255, 0.666) 100%); */
  width: 60%;
	z-index: 1;
	background: linear-gradient(180deg, #A6FEFF 4.5%, #FFF79D 46.5%, #D7CFFF 93%);
	border-radius: 16px;
}

