:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
	font-size: 62.5%;
  color-scheme: light dark;
  color: black;
  background: linear-gradient(90deg,#ff6969  ,#964aff );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
	font-size: 2rem;
}

button {
	border: 1px #202020 solid;
  border-radius: 8px;
	color: black;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
	transition: 0.2s;
	height: min-content;
}
button:hover {
	transform: translateY(-2px);
	box-shadow: 0 0 10px 1px rgb(133, 247, 255);
	color: rgb(190, 251, 255);
	background-color: rgba(0, 0, 0, 0.1);
}