:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;
  color-scheme: light dark;
  color: rgb(220, 220, 220);
  text-shadow: 0 5px 10px black;
  background: linear-gradient(110deg, rgb(65, 30, 30), rgb(0, 49, 61));
  background: url('./assets/background_blur.png');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 2.2rem;
}

button {
  border: 1px black solid;
  border-radius: 8px;
  color: black;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: rgb(133, 247, 255);
  cursor: pointer;
  transition: 0.2s;
  height: min-content;
  user-select: none;
}

@media screen and (width > 768px) {
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 12px 1px rgb(133, 247, 255);
  }
}

@media screen and (width <= 768px) {
  button:active {
    transform: translateY(-2px);
    box-shadow: 0 0 10px 1px rgb(133, 247, 255);
  }
}
