.background {
	background-image: url('./assets/v880-techi-12-a.jpg');
	background-repeat: repeat;
	background-size: contain;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	position: absolute;
	transform-origin: 0 0;
  transform: translateZ(-2px) scale(3);
}